---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About my Astro project">
	<main>
		<h1>About <span class="text-gradient">My Project</span></h1>
		<p
			>Hey there! Welcome to my Astro project! Here we'll share everything
			about Astro</p
		>
		<p>
			<a href="/" class="text-blue-200">Go back <strong>Home</strong></a
			></p
		>
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
