---
export const prerender = true;
// import Layout from "@layouts/Layout.astro";
// import ReactSlotLayout from "@layouts/ReactSlotLayout";

import { fetchJokes } from "@loaders/jokeLoader";
import { banners } from "@utils/banner.configs";
// import { fetchCountries } from "@loaders/countryLoader";
// import { fetchPosts } from "@loaders/placeholderLoader";

// const countries = await fetchCountries();
const jokes = await fetchJokes();
// const posts = await fetchPosts();

export function getStaticPaths() {
	return Object.keys(banners).map((siteId) => ({ params: { siteId, locale: "en" } }));
}
---

<!-- <Layout title="My Astro Blog"> -->
<main class="p-4">
	<h1 class="text-5xl font-bold text-center my-16">
		Welcome to my <span class="bg-clip-text text-transparent bg-blue-purple-gradient">Astro Blog</span>!
	</h1>
	<!-- <ReactSlotLayout client:visible /> -->

	<!-- <pre class="text-sm">COUNTRIES: {JSON.stringify(countries, null, 2)}</pre> -->
	<!-- <pre class="text-sm">jokes: {JSON.stringify(jokes, null, 2)}</pre> -->
	<!-- <pre class="text-sm">posts: {JSON.stringify(posts, null, 2)}</pre> -->
	<h2 class="text-2xl">jokes!</h2>
	<ul class="list-decimal list-outside ml-6">
		{
			jokes.map((joke) => (
				<li class="pl-2 mt-2">
					<h2>{joke.setup}</h2>
					<p>
						<em>{joke.punchline}</em>
					</p>
				</li>
			))
		}
	</ul>
</main>
<!-- </Layout> -->

<style>
	h1 {
		/* @apply text-center bg-clip-text text-transparent; */
	}
</style>
