---
import HeaderNavItem from "./HeaderNavItem.astro";

export interface CategoryLink {
	text: string;
	url: string;
	shopAll: boolean;
}
export interface SectionCategory {
	expandByDefault: boolean;
	hidden: boolean;
	linkPath?: string;
	links: Array<CategoryLink>;
	name: string;
	style?: "boxes";
	// 'sub-categories': Array<any>;
	type: "icons" | "list" | "promoLinks" | string;
}

export interface HeaderSection {
	categories?: Array<SectionCategory>;
	linkPath?: string;
	name: string;
}

const route = `${Astro.url.origin}/api/header.json`;
const results = await fetch(route).then((r) => r.json());
// console.log("HeaderNav results:", results);
const sections: HeaderSection[] = results.sections;
// console.log("HeaderNav sections:", sections);
let selectedMenu = 10; // not a real section
---

<nav
	class="sticky inset-0 bottom-auto text-center m-auto py-2 px-4 bg-black/30"
	data-id="HeaderNav"
>
	<ul class="flex justify-center gap-4 m-auto">
		{
			sections.map((item, i) => (
				<li>
					<HeaderNavItem {...item} isSelected={i === selectedMenu} />
				</li>
			))
		}
	</ul>
</nav>
