---
import type { HeaderSection } from "src/pages/api/header.json";
import HeaderNavItem from "./HeaderNavItem.astro";

const route = `${Astro.url.origin}/api/header.json`;
const results = await fetch(route).then((r) => r.json());
const sections: HeaderSection[] = results.sections;
// console.log("HeaderNav sections:", sections);
let selectedMenu = 10; // not a real section
---

<nav
	class="sticky inset-0 bottom-auto text-center m-auto py-2 px-4 bg-black/30"
	data-id="HeaderNav"
>
	<ul class="flex justify-center gap-4 m-auto">
		{
			sections.map((item, i) => (
				<li>
					<HeaderNavItem {...item} isSelected={i === selectedMenu} />
				</li>
			))
		}
	</ul>
</nav>
