---
import HeaderNavItem from "./HeaderNavItem.astro";

const route = `${Astro.url.origin}/api/header.json`;
const results = await fetch(route).then((r) => r.json());
// console.log("HeaderNav results:", results);
const sections: any[] = results.sections;
// console.log("HeaderNav sections:", sections);
---

<nav
	class="sticky inset-0 bottom-auto text-center m-auto py-2 px-4 bg-black/30"
	data-id="HeaderNav"
>
	<ul class="flex justify-center gap-4 m-auto">
		{
			sections.map((item, i) => (
				<li>
					<HeaderNavItem {...item} />
				</li>
			))
		}
	</ul>
</nav>
